{% extends "layout.html" %} {% block head %}

<script>
	async function pollStatus() {
		const response = await fetch(`/state`);
		if (!response.ok) throw new Error();

		for (const [section, html] of Object.entries(await response.json())) {
			document.querySelector(
				`section[data-id='${section}'] span > span`
			).outerHTML = html;
		}
	}

	async function pollSection(section) {
		const response = await fetch(
			`/section/${encodeURIComponent(section.dataset.id)}`
		);

		if (!response.ok) throw new Error();
		section.lastElementChild.lastElementChild.innerHTML = await response.text();
	}

	async function toggleAccordion(section) {
		if (
			section.classList.contains("loading") ||
			section.lastElementChild.classList.contains("collapsing")
		)
			return;

		if (section.lastElementChild.classList.contains("show")) {
			section.firstElementChild.classList.add("collapsed");
			bootstrap.Collapse.getOrCreateInstance(section.lastElementChild).hide();
			return;
		}

		try {
			section.classList.add("loading");
			section.classList.remove("error");

			await Promise.all([pollStatus(), pollSection(section)]);

			section.classList.remove("loading");
			section.firstElementChild.classList.remove("collapsed");
			bootstrap.Collapse.getOrCreateInstance(section.lastElementChild).show();
		} catch {
			section.classList.replace("loading", "error");
		}
	}

	// {% if admin %}

	function closeDialog() {
		document.querySelectorAll("dialog").forEach((dialog) => {
			dialog.close();
		});
	}

	function enableButton() {
		document.querySelectorAll("dialog button").forEach((button) => {
			button.disabled = false;
		});
	}

	function disableButton() {
		document.querySelectorAll("dialog button").forEach((button) => {
			button.disabled = true;
		});
	}

	function openSectionForm(button, sectionId) {
		const dialog = document.querySelector("dialog:first-of-type");
		dialog.firstElementChild.reset();

		dialog.querySelector("input[name='section']").value = sectionId;
		dialog.querySelector("button:last-of-type").textContent = "Save";

		if (button.dataset.id) {
			dialog.querySelector("div:first-of-type").classList.remove("d-none");
			dialog.querySelector("input[name='person_id']").value = button.dataset.id;
			dialog.querySelector("input[name='person']").value =
				button.textContent.trim();
		} else {
			dialog.querySelector("div:first-of-type").classList.add("d-none");
			dialog.querySelector("input[name='person_id']").value = -1;
			dialog.querySelector("input[name='person']").value = null;
		}

		dialog.showModal();
	}

	async function submitSectionForm(event) {
		event.preventDefault();
		disableButton();

		const form = event.currentTarget;
		const data = Object.fromEntries(new FormData(form));

		try {
			const response = await fetch("/section", {
				method: "PUT",
				headers: { "Content-Type": "application/json" },
				body: JSON.stringify(data),
			});
			if (!response.ok) throw new Error();

			await pollSection(
				document.querySelector(`section[data-id='${data.section}']`)
			);

			closeDialog();
		} catch {
			form.querySelector("button:last-of-type").textContent = "Error";
		}

		enableButton();
	}

	function openStatusForm(sectionId) {
		const dialog = document.querySelector("dialog:last-of-type");
		dialog.firstElementChild.reset();

		dialog.querySelector("input[name='section']").value = sectionId;
		dialog.querySelector("button:last-of-type").textContent = "Save";

		dialog.showModal();
	}

	async function submitStatusForm(event) {
		event.preventDefault();
		disableButton();

		const form = event.currentTarget;
		const data = Object.fromEntries(new FormData(form));

		try {
			const response = await fetch("/state", {
				method: "PUT",
				headers: { "Content-Type": "application/json" },
				body: JSON.stringify(data),
			});
			if (!response.ok) throw new Error();

			await pollStatus();

			closeDialog();
		} catch {
			form.querySelector("button:last-of-type").textContent = "Error";
		}

		enableButton();
	}

	// {% endif %}

	setInterval(() => {
		pollStatus();
	}, 30000);
</script>

{% endblock %} {% block main %} {% for section, state in sections %}

<section
	class="accordion-item border-primary border-2"
	data-id="{{ section }}"
	data-idx="{{ loop.index0 }}"
>
	<button
		class="accordion-header accordion-button fw-bold text-body shadow-none collapsed"
		onclick="toggleAccordion(event.currentTarget.parentElement)"
	>
		<span>{{ section }} {% include "status.html" %}</span>
	</button>

	<div class="collapse">
		<div class="p-4"></div>
	</div>
</section>

{% endfor %} {% if admin %}

<dialog class="col-12 col-lg-3 border-0 rounded-4">
	<form class="d-flex flex-column gap-4" onsubmit="submitSectionForm(event)">
		<input type="hidden" name="section" />
		<input type="hidden" name="person_id" />
		<input type="hidden" name="rank" value="none" />

		<input class="form-control" name="person" placeholder="Name (Required)" />

		<div class="d-flex justify-content-between px-4 fs-4">
			<label class="d-flex flex-column">
				🥇
				<input type="radio" name="rank" value="gold" />
			</label>

			<label class="d-flex flex-column">
				🥈
				<input type="radio" name="rank" value="silver" />
			</label>

			<label class="d-flex flex-column">
				🥉
				<input type="radio" name="rank" value="bronze" />
			</label>
		</div>

		<div class="d-flex gap-2">
			<button
				autofocus
				class="btn btn-outline-secondary w-100 border-4 rounded-5 fw-bold"
				type="button"
				onclick="closeDialog()"
			>
				Cancel
			</button>

			<button class="btn btn-outline-primary w-100 border-4 rounded-5 fw-bold">
				Save
			</button>
		</div>
	</form>
</dialog>

<dialog class="col-12 col-lg-3 border-0 rounded-4">
	<form class="d-flex flex-column gap-4" onsubmit="submitStatusForm(event)">
		<input type="hidden" name="section" />

		<select class="form-select" name="state">
			<option value="soon">Soon</option>
			<option value="live">Live</option>
			<option value="done">Done</option>
			<option selected value="none">None</option>
		</select>

		<div class="d-flex gap-2">
			<button
				autofocus
				class="btn btn-outline-secondary w-100 border-4 rounded-5 fw-bold"
				type="button"
				onclick="closeDialog()"
			>
				Cancel
			</button>

			<button class="btn btn-outline-primary w-100 border-4 rounded-5 fw-bold">
				Save
			</button>
		</div>
	</form>
</dialog>

{% endif %} {% endblock %}
