{% extends "layout.html" %} {% block head %}

<script>
	async function login(event) {
		let password = event.currentTarget.firstElementChild.value;
		password = new TextEncoder().encode(password);
		password = await crypto.subtle.digest("SHA-256", password);
		password = Array.from(new Uint8Array(password))
			.map((byte) => byte.toString(16).padStart(2, "0"))
			.join("");

		cookieStore.set("passhash", password);
		location.replace("/");
	}
</script>

{% endblock %} {% block main %}

<form onsubmit="login(event)">
	<input
		autofocus
		class="form-control w-100 mb-4"
		type="password"
		name="password"
		placeholder="Password"
	/>

	<button class="btn btn-outline-primary w-100 border-4 rounded-5 fw-bold">
		Login
	</button>
</form>

{% endblock %}
